/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* Estilos generales */
* {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 16px;
    padding-top: 10px;
    background-color: #181419;
    color: #fff;
    transition: opacity 0.5s;
}

/* Keyframes para la animación de balanceo */
@keyframes swing {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
}

/* Estilos del navbar */
.navbar {
    background-color: #9F3647 !important;
    display: flex;
    position: static;
    width: auto;
    justify-content: space-between;
}

.fixed-top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Estilos de los enlaces en la barra de navegación */
.navbar-nav {
    text-align: center;
}

.navbar-nav .nav-link, .navbar-brand {
    color: #fff !important;
    font-size: 20px;
    padding: 5px;
}

/* Estilos para el botón de hamburguesa */
.navbar-toggler {
    border: none;
    background: transparent;
}

.navbar-toggler-icon {
    width: 1.5em;
    height: 1.5em;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0,0,0,.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Estilos del botón de iniciar sesión */
.navbar .btn-iniciar-sesion {
    background-color: #201f1c;
    color: #ffffff;
    border: none;
}

.navbar .btn-iniciar-sesion:hover {
    background-color: #201f1c;
    opacity: 70%;
}

.navbar-brand:hover {
    animation: swing 0.5s infinite;
}

/* Contenedor del banner */
.banner-container {
    position: relative;
    overflow: hidden;
    max-height: 800px;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Varela Round', sans-serif;
    font-size: 60px;
    z-index: 1;
    text-align: center;
    color: #fff;
}

.registrate-text {
    font-family: 'Varela Round', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.btn-registrarse {
    width: 200px;
    height: 60px;
    background-color: #9F3647;
    color: #fff;
    padding: 10px 20px;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    margin: 20px auto;
    text-align: center;
}

.btn-registrarse:hover {
    background-color: #7d2838;
}

/* Estilos para el input de búsqueda */
.col-md-8.offset-md-2 {
    padding-top: 40px;
    padding-bottom: 30px;
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
}

.form-control.me-2 {
    width: 900px;
    height: 30px;
    border-radius: 15px;
}

/* Estilos para el botón de búsqueda */
.btn-outline-secondary {
    color: #fff;
    border-radius: 15px;
    background-color: #9F3647;
    border-color: #9F3647;
}

.btn-outline-secondary:hover {
    color: #9F3647;
    background-color: #fff;
}

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

h1 {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

/* Estilos para el contenedor de películas */
.peliculas-container {
    gap: 20px;
    padding-bottom: 20px;
}

/* Estilos para cada película */
.pelicula-carousel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}

/* Estilos para la imagen de la película */
.pelicula-carousel img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 10px;
}

/* Estilo para el contenedor de cada película */
.pelicula-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.8s ease;
}

/* Estilo para la información de la película (título) */
.pelicula-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Estilo para el título de la película */
.pelicula-title {
    color: #fff;
    font-size: 18px;
    text-align: center;
}

/* Al pasar el mouse sobre la película */
.pelicula-item:hover img {
    filter: blur(5px);
}

.pelicula-item:hover .pelicula-info {
    opacity: 10;
}

/* Botones del carrusel */
.carousel-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-carousel {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    background-color: #9F3647;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-carousel:hover {
    background-color: #7d2838;
}

/* Estilos para la sección de "Las más aclamadas" */
.peliculasAclamadas {
    margin-top: 50px; /* Espacio entre el banner y la sección */
    max-width: 100%; /* Evitar que el contenedor se salga de la pantalla */
    overflow: hidden; /* Para que las tarjetas no se salgan del contenedor */
  }
  
  h3 {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    font-size: 36px;
}

  /* Estilos para los botones de navegación de Swiper */
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10; /* Asegura que estén por encima de las imágenes */
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: '';
    width: 10px;
    height: 10px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: rotate(45deg);
  }
  
  .swiper-button-prev {
    left: 10px; /* Posición del botón anterior */
  }
  
  .swiper-button-next {
    right: 10px; /* Posición del botón siguiente */
  }
  
  /* Estilos para las tarjetas (swiper-slide) */
  .swiper-slide {
    width: 250px; /* Ancho de las tarjetas */
    margin-right: 10px; /* Espacio entre tarjetas */
    overflow: hidden; /* Para que el texto no sobresalga */
  }
  
  /* Estilos para las imágenes de las tarjetas */
  .imgAclamada {
    width: 100%;
    height: auto;
    display: block;
  }
  
  
  /* Estilos para el Swiper del footer */
.footer {
    background-color: #9F3647; /* Color de fondo similar al de la barra de navegación */
    width: 100%; /* Ancho del footer al 100% */
    padding: 20px 0; /* Espaciado interno */
}

/* Estilos para los enlaces del footer */
.listaNav {
    display: flex;
    justify-content: center;
    list-style: none; /* Quitar viñetas de la lista */
    padding: 0; /* Eliminar padding */
    margin: 0; /* Eliminar margen */
}

.listaItem {
    margin: 0 10px;
}

.linkNav {
    color: #fff; /* Color de los enlaces */
    font-size: 16px;
    text-decoration: none; /* Quitar subrayado */
    transition: color 0.3s; /* Transición de color al pasar el mouse */
}

.linkNav:hover {
    color: #ccc; /* Color al pasar el mouse */
}

/* Estilos para la flecha de volver arriba */
.flechaArriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Asegura que esté sobre otros elementos */
    background-color: #007bff; /* Color de fondo similar al de la barra de navegación */
    color: #fff; /* Color del ícono */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.flechaArriba:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}


  

body::-webkit-scrollbar {
    width: 15px;
    background-color: aliceblue;
}

body::-webkit-scrollbar-thumb {
    background: #9F3647;
    border-radius: 5px;
}

/* Media Queries */

/* Media query para dispositivos móviles pequeños */
@media only screen and (max-width: 767px) {
    .banner-text {
        font-size: 20px;
    }
  
    .registrate-text {
        font-size: 14px;
        margin-bottom: 10px;
    }
  
    .btn-registrarse {
        width: 150px;
        height: 50px;
        font-size: 18px;
    }

    /* Estilos específicos para pantallas más pequeñas */
    .pelicula-carousel {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .pelicula-title {
        font-size: 14px;
    }
}

/* Media query para dispositivos móviles */

/* Media query para dispositivos con un ancho máximo de 360px */
@media only screen and (max-width: 360px) {
    .navbar {
        padding: 10px 20px;
    }
  
    .navbar-toggler {
        width: 100%; /* Botón hamburguesa ocupa todo el ancho */
    }
  
    .navbar-brand {
        margin-right: auto; /* Brand alineado a la izquierda */
    }
  
    .navbar-nav {
        flex-direction: column; /* Coloca los elementos uno debajo del otro */
        justify-content: center; /* Centra verticalmente los elementos */
        text-align: center; /* Centra horizontalmente los elementos */
    }
  
    .navbar-collapse {
        margin-top: 10px; /* Espaciado arriba cuando está abierto */
    }
  
    .nav-item {
        width: 100%; /* Ocupa todo el ancho */
    }

    .nav-link {
        color: #fff !important; /* Color de texto para los enlaces */
        font-size: 20px; /* Tamaño de fuente para los enlaces */
        padding: 10px 0; /* Espaciado interno para los enlaces */
    }

    .nav-link:hover {
        color: #ccc !important; /* Color de texto al pasar el mouse */
    }
}

/* Media query para dispositivos desde 762px hasta 912px */
@media only screen and (min-width: 762px) and (max-width: 912px) {
    .navbar {
        padding: 10px 20px;
    }
  
    .navbar-toggler {
        display: none; /* Ocultamos el botón de hamburguesa */
    }
  
    .navbar-brand {
        margin-right: auto;
    }
  
    .navbar-nav {
        flex-direction: row;
        justify-content: center; /* Centrar los items */
    }
  
    .navbar-collapse {
        display: flex !important; /* Cambiamos a flex para alinear los items */
        flex-direction: row; /* Alineamos los items en línea */
    }
  
    .nav-item {
        width: auto; /* Ajustar el ancho al contenido */
        margin: 0 15px; /* Espacio entre los items */
    }

    .nav-link {
        color: #fff !important; /* Color de texto para los enlaces */
        font-size: 20px; /* Tamaño de fuente para los enlaces */
        padding: 10px 15px; /* Espaciado interno para los enlaces */
    }

    .nav-link:hover {
        color: #ccc !important; /* Color de texto al pasar el mouse */
    }
}


